# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Hardhat
artifacts/
cache/
typechain-types/

# Coverage
coverage/
coverage.json

# Next.js
.next/
out/

# Hardhat Ignition
ignition/deployments/chain-31337

# Misc
*.log
.DS_Store
Thumbs.db
